# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# My personal preferences
Requests/